{{- $sidebar := false }} {{- if eq .Kind "home" -}} {{ $sidebar = (default
.Site.Params.sidebar.home .Params.sidebar) }} {{- else if eq .Kind "page" -}} {{
$sidebar = (default .Site.Params.sidebar.single .Params.sidebar) }} {{- else -}}
{{ $sidebar = (default .Site.Params.sidebar.list .Params.sidebar) }} {{ end }}
{{- if $sidebar -}}
<aside class="w3-col l4">
  <div class="w3-white w3-margin w3-card-2">
    <div class="w3-container w3-padding w3-black">
      <h4>About Me</h4>
    </div>
    <div class="w3-container w3-white">
      {{- $root := . }} {{- with (default .Site.Params.sidebar.widgets
      .Params.widgets) -}} {{- range $widget := . }} {{- $widgetPath := printf
      "widgets/%s.html" $widget }}
      <div class="w3-margin-bottom">{{- partial $widgetPath $root }}</div>
      {{- end }} {{- else }}
      <p>
        <strong>{{ T "sidebar_warning" }}:</strong><br />{{ T
        "sidebar_recommendation" }}
      </p>
      {{- end }}
    </div>
  </div>
</aside>
{{- end }}
