<article class="list__item post">
  {{ partial "post_thumbnail.html" (dict "class" "list" "page" .page "lcp" .lcp)
  }}
  <header class="list__header">
    <h2 class="list__title post__title">
      <a href="{{ .page.RelPermalink }}" rel="bookmark"> {{ .page.Title }} </a>
    </h2>
    {{- with .page.Params.lead }}
    <p class="list__lead post__lead">{{ . }}</p>
    {{- end }} {{ with partial "post_meta.html" .page -}}
    <div class="list__meta meta">{{ . }}</div>
    {{- end }}
  </header>
  <div class="content list__excerpt post__content clearfix">
    {{ .page.Summary }}
  </div>
  {{- if .page.Site.Params.readmore }} {{- if .page.Truncated }}
  <div class="list__footer clearfix">
    <a class="list__footer-readmore btn" href="{{ .page.RelPermalink }}"
      >{{ T "read_more" }}</a
    >
  </div>
  {{- end }} {{- end }}
</article>
