<div class="w3-card-4 w3-margin w3-white">
  {{ partial "post_thumbnail.html" (dict "class" "list" "page" .page "lcp" .lcp)
  }}
  <header class="w3-container">
    <h2>
      <a href="{{ .page.RelPermalink }}" style="text-decoration: none">
        {{ .page.Title }}
      </a>
    </h2>
    {{- with .page.Params.lead }}
    <p class="w3-opacity">{{ . }}</p>
    {{- end }} {{ with partial "post_meta.html" .page -}}
    <div class="w3-text-grey">{{ . }}</div>
    {{- end }}
  </header>
  <div class="w3-container">{{ .page.Summary }}</div>
  {{- if .page.Site.Params.readmore }} {{- if .page.Truncated }}
  <div class="w3-container w3-padding">
    <a
      class="w3-button w3-black w3-margin-bottom"
      href="{{ .page.RelPermalink }}"
      >{{ T "read_more" }}</a
    >
  </div>
  {{- end }} {{- end }}
</div>
