<div align="center">
    <a href="https://twitter.com/valticus81"><img src="/img/valticus_logo.png" title="Valticus on Twitter"></a>
    <br />
    <p><i class="fas fa-hashtag"></i><a title="Valticus on Twitter" href="https://twitter.com/valticus81">Twitter</a>
    </p>
</div>
