<div align="center">
    <a href="https://twitter.com/valticus81"><img src="/img/valticus_logo.png" title="Valticus on Twitter"></a>
    <br />
    <p>You can follow me on <a title="Valticus on Twitter" href="https://twitter.com/valticus81">Twitter</a>, where
        ideas come to life.</p>
</div>
