<div align="center">
    <img src="/theme/input/img/valticus_logo.png">
    <br />
    <p>You can follow me on <a title="Valticus on Twitter" href="https://twitter.com/valticus81">Twitter</a>, where
        ideas come to life.</p>
</div>
