<div align="center">
    <a href="https://twitter.com/valticus81"><img src="/img/valticus_logo.png" title="Valticus on Twitter"></a>
    <i class="fab fa-twitter-square"></i>&nbsp;<a title="Valticus on Twitter"
        href="https://twitter.com/valticus81">Twitter</a>
    </a>
</div>
