<div class="align_center">
    <i class="fab fa-twitter-square"></i>&nbsp;<a title="Valticus on Twitter"
        href="https://twitter.com/valticus81">Twitter
    </a><br />
    <i class="fab fa-medium"></i>&nbsp;<a title="Valticus on Medium"
        href="https://medium.com/valticus81">Medium
    </a>
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fvalticus.cf%2F"><img src="/img/valid_html.png" alt="W3C Validation Badge" title="W3C Validation Badge"></a>
</div>
