    <br />
    <i class="fab fa-twitter-square align_left"></i>&nbsp;<a title="Valticus on Twitter"
        href="https://twitter.com/valticus81"  class=" align_left">Twitter
    </a>
    <br />
    <i class="fab fa-medium align_left"></i>&nbsp;<a title="Valticus on Medium"
        href="https://valticus81.medium.com/" class=" align_left">Medium
    </a>
    <br />
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fvalticus.cf%2F"><img src="/img/valid_html.png" alt="W3C Validation Badge" title="W3C Validation Badge" class="align_center"></a>
